
[submodule "alsa-lib-1.0.23"]
	path = alsa-lib-1.0.23
	url = git://github.com/pocketbook-free/alsa-lib-1.0.23.git
[submodule "antiword"]
	path = antiword
	url = git://github.com/pocketbook-free/antiword.git
[submodule "bluez-4.62"]
	path = bluez-4.62
	url = git://github.com/pocketbook-free/bluez-4.62.git
[submodule "browser"]
	path = browser
	url = git://github.com/pocketbook-free/browser.git
[submodule "btauth"]
	path = btauth
	url = git://github.com/pocketbook-free/btauth.git
[submodule "chess"]
	path = chess
	url = git://github.com/pocketbook-free/chess.git
[submodule "djviewer"]
	path = djviewer
	url = git://github.com/pocketbook-free/djviewer.git
[submodule "fbreader12"]
	path = fbreader12
	url = git://github.com/pocketbook-free/fbreader12.git
[submodule "kernel_070611"]
	path = kernel_070611
	url = git://github.com/pocketbook-free/kernel_070611.git
[submodule "libmad-0.15.1b"]
	path = libmad-0.15.1b
	url = git://github.com/pocketbook-free/libmad-0.15.1b.git
[submodule "mpd"]
	path = mpd
	url = git://github.com/pocketbook-free/mpd.git
[submodule "obexutil"]
	path = obexutil
	url = git://github.com/pocketbook-free/obexutil.git
[submodule "openobex-1.5"]
	path = openobex-1.5
	url = git://github.com/pocketbook-free/openobex-1.5.git
[submodule "pdfviewer"]
	path = pdfviewer
	url = git://github.com/pocketbook-free/pdfviewer.git
[submodule "sudoku"]
	path = sudoku
	url = git://github.com/pocketbook-free/sudoku.git
[submodule "u-boot"]
	path = u-boot
	url = git://github.com/pocketbook-free/u-boot.git
[submodule "FBRearderJ"]
	path = FBRearderJ
	url = git://github.com/pocketbook-free/FBRearderJ.git
[submodule "sdkrelease_1_1a"]
	path = sdkrelease_1_1a
	url = git://github.com/pocketbook-free/sdkrelease_1_1a.git
[submodule "InkViewDoc"]
	path = InkViewDoc
	url = git://github.com/pocketbook-free/InkViewDoc.git
[submodule "kernel_622"]
	path = kernel_622
	url = git://github.com/pocketbook-free/kernel_622.git
[submodule "uboot_622"]
	path = uboot_622
	url = git://github.com/pocketbook-free/uboot_622.git
[submodule "kernel_613"]
	path = kernel_613
	url = git://github.com/pocketbook-free/kernel_613.git
[submodule "uboot_613"]
	path = uboot_613
	url = git://github.com/pocketbook-free/uboot_613.git
