
[submodule "alsa-lib-1.0.23"]
	path = alsa-lib-1.0.23
	url = git://github.com/pocketbook-free/alsa-lib-1.0.23
[submodule "antiword"]
	path = antiword
	url = git://github.com/pocketbook-free/antiword.git
[submodule "bluez-4.62"]
	path = bluez-4.62
	url = git://github.com/pocketbook-free/bluez-4.62.git
[submodule "browser"]
	path = browser
	url = git://github.com/pocketbook-free/browser.git
[submodule "btauth"]
	path = btauth
	url = git://github.com/pocketbook-free/btauth.git
[submodule "chess"]
	path = chess
	url = git://github.com/pocketbook-free/chess.git
[submodule "djviewer"]
	path = djviewer
	url = git://github.com/pocketbook-free/djviewer.git
[submodule "fbreader12"]
	path = fbreader12
	url = git://github.com/pocketbook-free/fbreader12.git
[submodule "kernel_070611"]
	path = kernel_070611
	url = git://github.com/pocketbook-free/kernel_070611.git
[submodule "libmad-0.15.1b"]
	path = libmad-0.15.1b
	url = git://github.com/pocketbook-free/libmad-0.15.1b.git
[submodule "mpd"]
	path = mpd
	url = git://github.com/pocketbook-free/mpd.git
[submodule "obexutil"]
	path = obexutil
	url = git://github.com/pocketbook-free/obexutil.git
[submodule "openobex-1.5"]
	path = openobex-1.5
	url = git://github.com/pocketbook-free/openobex-1.5.git
