# arch/arm/mach-s3c6410/Kconfig
#
# Copyright 2008 Openmoko, Inc.
# Copyright 2008 Simtec Electronics
#
# Licensed under GPLv2

# Configuration options for the S3C6410 CPU

config CPU_S3C6410
	bool
	select CPU_S3C64XX_INIT
	select CPU_S3C64XX_CLOCK
	help
	  Enable S3C6410 CPU support

config S3C6410_SETUP_SDHCI
	bool
	help
	  Internal helper functions for S3C6410 based SDHCI systems

# menu "Samsung S3C6410 Implementations"

choice
	prompt "Select Machine"

config MACH_SMDK6410
	bool "SMDK6410"
	select CPU_S3C6410
	select S3C_DEV_HSMMC
	select S3C_DEV_HSMMC1
        select S3C_DEV_HSMMC2
	select S3C_DEV_I2C1
	select S3C6410_SETUP_SDHCI
	select S3C64XX_SETUP_I2C1
	select S3C_DMA_PL080
	help
	  Machine support for the Samsung SMDK6410


endchoice

# At least some of the SMDK6410s were shipped with the card detect
# for the MMC/SD slots connected to the same input. This means that
# either the boards need to be altered to have channel0 to an alternate
# configuration or that only one slot can be used.

menu  "S3C6410 MMC/SD slot setup"
	depends on MACH_SMDK6410

config S3C6410_SD_CH0
	bool "Use channel 0 (Internal SD)"
	depends on MACH_SMDK6410
	help
          Select CON7 (channel 0) as the MMC/SD slot, as
	  at least some SMDK6410 boards come with the
	  resistors fitted so that the card detects for
	  channels 0 and 1 are the same.
       
config S3C6410_SD_CH1
	bool "Use channel 1 (External SD)"
	depends on MACH_SMDK6410
	help
          Select CON6 (channel 1) as the MMC/SD slot, as
	  at least some SMDK6410 boards come with the
	  resistors fitted so that the card detects for
	  channels 0 and 1 are the same.

config S3C6410_SD_CH2
	bool "Use channel 2 (WLAN SDIO)"
	depends on MACH_SMDK6410
	help
          WLAN SDIO Interface
          
endmenu

choice
	prompt "SMDK6410 Revision"
	depends on MACH_SMDK6410

config SMDK6410_REV02
	bool "SMDK6410 Rev0.2"
	depends on MACH_SMDK6410
	help
	  Select SMDK6410 sub revision number 

config SMDK6410_REV10
	bool "SMDK6410 Rev1.0"
	select TOUCHSCREEN_NEW
	depends on MACH_SMDK6410
	help
	  Select SMDK6410 sub revision number 

endchoice

choice
	prompt "SMDK6410 RAM Size"
	depends on MACH_SMDK6410

config SMDK6410_RAMSIZE_256M
	bool "SMDK6410 RAM 256M"
	depends on MACH_SMDK6410
	help
	  Select SMDK6410 internal ram size 

config SMDK6410_RAMSIZE_128M
	bool "SMDK6410_RAM_128M"
	depends on MACH_SMDK6410
	help
	  Select SMDK6410 internal ram size

endchoice

menu   "EP1 HARDWARE VERSION SELECT"

config HW_EP1_EVT
	bool "EP1 Hardware version( EVT )"
	help
	  Select EP1 hardware version

config HW_EP1_EVT2
	bool "EP1 Hardware version( EVT2 )"
	help
	  Select EP1 hardware version
	  
config HW_EP1_DVT
	bool "EP1 Hardware version( DVT )"
	help
	  Select EP1 hardware version

endmenu
menu   "EP2 HARDWARE VERSION SELECT"

config HW_EP2_EVT
	bool "EP2 Hardware version( EVT )"
	help
	  Select EP2 hardware version

config HW_EP2_EVT2
	bool "EP2 Hardware version( EVT2 )"
	help
	  Select EP2 hardware version
	  
config HW_EP2_DVT
	bool "EP2 Hardware version( DVT )"
	help
	  Select EP2 hardware version

endmenu

menu   "EP3 HARDWARE VERSION SELECT"

config HW_EP3_EVT
	bool "EP3 Hardware version( EVT )"
	help
	  Select EP3 hardware version
	
config HW_EP3_EVT2
	bool "EP3 Hardware version( EVT2 )"
	help
	  Select EP3 hardware version

config HW_EP3_DVT
	bool "EP3 Hardware version( DVT )"
	help
	  Select EP3 hardware version

endmenu
menu	"EP4 HARDWARE VERSION SELECT"

config HW_EP4_EVT
	bool "EP4 Hardware version( EVT )"
	help
	  Select EP4 hardware version

config HW_EP4_EVT2
	bool "EP4 Hardware version( EVT2 )"
	help
	  Select EP4 hardware version


config HW_EP4_DVT
	bool "EP4 Hardware version( DVT )"
	help
	  Select EP4 hardware version

endmenu

config STOP_MODE_SUPPORT
	bool "Stop Mode Support (for S3C6410 only)"
	depends on MACH_SMDK6410
	help
	  S3C6410 Stop mode support

